
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1a1a2e;
    color: #eaeaea;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e94560;
    text-shadow: 2px 2px 4px #000;
}


.login-box, .signup-box {
    background-color: #16213e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #eaeaea;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    background-color: #0f3460;
    color: #fff;
}

.input-group input:focus {
    outline: none;
    border: 1px solid #e94560;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e94560;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d7385e;
}

.message {
    margin-top: 20px;
    font-size: 0.8rem;
}

.message a {
    color: #e94560;
    text-decoration: none;
    transition: color 0.3s ease;
}

.message a:hover {
    color: #d7385e;
}


@media (max-width: 400px) {
    .login-box, .signup-box {
        width: 90%;
    }
}
